<div class="app-bibtex">
  <div class="sub-header">
    {{#link-to 'index' class="option logo"}}
      <i class="fa fa-home"></i>Home
    {{/link-to}}
    <div class="options">
      {{#link-to "editor" class="option text-center"}}<i class="fa fa-pencil" aria-hidden="true">
        </i> <span>Edit</span>
      {{/link-to}}

      <a class="option copy text-center" {{action "copyToClipboard"}}><i class="fa fa-clipboard" aria-hidden="true">
        </i><span>Copy</span>
      </a>
      <a class="option text-center" {{action "save"}}><i class="fa fa-download" aria-hidden="true">
        </i><span>Download</span>
      </a>
    </div>
  </div>
  <div class="body container">
    <div class="alerts row">
      {{#each model.alerts as |alert|}}
      <div class="alert alert-{{alert.class}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <i class="fa fa-{{alert.icon}} fa-lg" aria-hidden="true"></i>   {{{alert.text}}}
      </div>
      {{/each}}
    </div>
    <div class="bibtex row">
      <pre id="bibtex-code" class="brush: bibtex">{{{model.bibtex}}}</pre>
    </div>
  </div>
</div>
