<div class="app-config container">
  <div class="row">
    <div class="header col-lg-6 col-lg-offset-3 text-center">
      <h1><strong>Configuration</strong></h1>
      <h2>Choose the elements that must have in your <small>.bib</small> file</h2>
    </div>
  </div>

  <div class="row">
    {{#each-in model as |entry attributes|}}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="panel panel-default list-group">

          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left text-capitalize"><strong>{{entry}}</strong></h3>
          </div>

          <div class="panel-body">
            <div class="row">
              {{#each-in attributes as |option list|}}
                {{#each-in list as |key value|}}
                  <div class="col-lg-6 text-capitalize">
                    <input type="checkbox" name="{{entry}}_{{value}}" checked="{{teste}}"/> {{value}}
                  </div>
                {{/each-in}}
              {{/each-in}}
            </div>
          </div>

        </div>
      </div>
    {{/each-in}}
  </div>

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-lg" {{action "configure"}}>Save</button>
    </div>
  </div>
</div>
