<div class="app-config container">
  <div class="row">
    <div class="header col-lg-6 col-lg-offset-3 text-center">
      <h1><strong>Configuration</strong></h1>
      <h2>Choose the elements that must have in your <small>.bib</small> file</h2>
    </div>
  </div>

  <form {{action "configure" on="submit"}}>
  <div class="row">
    {{#each-in model as |entry attributes|}}
      <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="panel panel-default list-group">

          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left text-capitalize"><strong>{{entry}}</strong></h3>
          </div>

          <div class="panel-body">
            <div class="row">
              {{#each attributes.required as |req|}}
                <div class="col-lg-6 text-capitalize">
                  <input id="input-{{entry}}-{{req}}" type="checkbox" name="{{entry}}-{{req}}" class="{{entry}}" checked="" disabled=""/> {{req}}
                </div>
              {{/each}}
              {{#each attributes.optional as |opt|}}
                <div class="col-lg-6 text-capitalize">
                  <input id="input-{{entry}}-{{opt}}" type="checkbox" name="{{entry}}-{{opt}}" class="{{entry}}" checked="{{teste}}"/> {{opt}}
                </div>
              {{/each}}
            </div>
          </div>

        </div>
      </div>
    {{/each-in}}
  </div>

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary btn-lg" type="submit">Submit</button>
    </div>
  </div>
  </form>

</div>
