<div class="app-index container" ondrop={{action "drop"}}>

  <div style="margin: 100px;"></div>

  <div class="row">
    <div class="header col-md-6">
      <h1 class="slogan text-center">Normalize your .bib</h1>
      <div class="features row">
        <div class="feature text-center"><i class="fa fa-check" aria-hidden="true"></i> Remove unnecessary fields</div>
        <div class="feature text-center"><i class="fa fa-check" aria-hidden="true"></i> Get warnings on missing fields</div>
        <div class="feature text-center"><i class="fa fa-check" aria-hidden="true"></i> Check formatting</div>
        <div class="feature text-center"><i class="fa fa-check" aria-hidden="true"></i> Auto-formatting basic fields</div>
      </div>
    </div>

    <div class="body col-md-6">
      <div class="open-file text-center">
        <div class="btn btn-primary" onclick={{action "choose"}}>Choose a bibtex file</div>
      </div>
      <div class="separator text-center">
        <span>-- or --</span>
      </div>
      <div class="drop-file text-center">
        <div class="drop-file-area" onclick={{action "choose"}}><b>Drag your file here</b></div>
        {{input type="file" name="file" class="file-input hidden" multiple="false" accept=".bib" change=(action 'select') }}
      </div>
    </div>
  </div>

  <div style="margin: 100px;"></div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <h3><strong>Original Entry</strong></h3>
      <textarea id="sample-entry" rows="11" class="col-md-12">
        {{sampleEntry}}
      </textarea>
    </div>

    <div class="col-md-6 col-xs-12">
        <h3><strong>Normalized Entry</strong></h3>
        <pre class="verbatim">
@article{DBLP:journals/sosym/QueirozPVHAC17,
  author = { Rodrigo Queiroz and Leonardo Teixeira Passos and Marco Tulio Valente and Claus Hunsen and Sven Apel and Krzysztof Czarnecki },
  title = { The shape of feature code: an analysis of twenty C-preprocessor-based systems },
  journal = { Software and System Modeling },
  year = { 2017 }
}
        </pre>
    </div>
  </div>

  <div class="row">
    <div class="col col-md-6">
      <div class="options-right">
        {{#link-to "editor"}}<button type="button" class="btn btn-primary" name="button" {{action "normalizeSample"}}><i class="fa fa-cog"></i>Normalize</button>{{/link-to}}
      </div>
    </div>
  </div>

</div>
